# 1. What are data structures, and why are they important?
Ans - Data structures are the way of organising and storing data in a computer so that it can be accessed and modified efficiently. They are important because they enable efficient data management, improve performance, and allow for better organization of complex data.

# 2. Explain the difference between mutable and immutable data types with examples.
Ans - Mutable data types can be changed after creation (e.g., lists, dictionaries, sets). Immutable data types cannot be changed after creation (e.g., int, str, tuples).
Example : A list [1,2,3] can be modified to [1,4,3], but a tuple(1,2,3) cannot be changed.

# 3. What are the main difference between lists and tuples in python?
Ans - Lists are mutable (can be modified), while tuples are immutable (cannot be modified). Lists use square brackets [], while tuples use parentheses ().

# 4. Describe how dictionaries store data.
Ans - Dictionaries store data as key-value pairs, where each key is unique and maps to a value. Keys must be immutable (e.g., strings, numbers, tuples)

# 5. Why might you use a set instead of a list in python?
Ans - Sets are used when you need to store uniqie elements and perform operations like union, intersection, or difference. They also provide faster membership tests compared to lists.

# 6. What is a string in python, and how is it different from a list?
Ans - A string is sequence of characters and is immutable. A list is a sequence of elements of any type and is mutable. strings are typically used for text, while lists are used for collections of items.

# 7. How do tuples ensure data integrity in python?
Ans - Tuples are immutable, meaning their elements cannot be changed after creation. This ensures that the data remains constant and prevents accidental modifications.

# 8. What is hash table, and how does it relate to dictionaries in python?
Ans - A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, which allows for fast key-value lookups.

# 9. Can lists contain different data types in python?
Ans - Yes, lists can contain elements of different data types, such as [1,2,"mayuresh",3.22, false]

# 10. Explain why strings are immutable in python? 
Ans - Strings are immutable to ensure security (e.g., preventing modification of strings used as keys in dictionaries) and to allow optimizations like memory sharing for identical strings.

# 11. What advantages do dictionaries offer over lists for certain tasks?
Ans - Dictionaries provide faster lookups (O(1) time complexity) compared to lists (O(n) for searching). They are ideal for associating keys with values.

# 12. Describe a scenario where using a tuple would be preferable over a list.
Ans - Tuples are preferable when you need an immutable sequence, such as for dictionary keys or when passing data that should not be modified.

# 13. How do sets handle dublicate values in python?
Ans - Sets automatically remove dublicate values, ensuring that all the elements are unique.

# 14. How does the "in" keyword work differently for lists and dictionaries?
Ans - For lists, in checks for value (O(n) time). For dictionaries, in checks for the presence of key (O(1) time).

# 15. Can you modify the elements of a tuple? Explain why or why not.
Ans - No, tuples are immutable, so their elements cannot be modified after creation.

# 16. What is a nested dictionary, and give an example of its use case.
Ans - A nested dictionary is a dictionary that contains other dictionaries. for ex: {"person": {"name":"Alice", "age": 30}}. It is useful for representing hierarchical data.

# 17. Describe the time complexity of accessing elements in a dictionary.
Ans - Accessing elements in a dictionary has an average time complexity of O(1) due to the use of hash tables.

# 18. In what situations are lists preferred over dictionaries?
Ans - Lists are preferred when you need an ordered collection of items, when dublicates are allowed, or when you need to iterate over elemets sequentially.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans - Prior to python 3.7, dictionaries were unorddered. Now, they maintain insertion order, but they are still primarily used for key-based lookups rather than order-based operations.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans - lists retrive data by index (position), while dictionaries retrive data by key. List lookups are O(n) in worst case, while dictionary lookups are O(1).

# Practical Questions

# 1. Write a code to create a string with your name and print it.

In [2]:
name = "Mayuresh Nivajekar"
print(name)

Mayuresh Nivajekar

# 2. Write a code to find the length of the string "Hello World".

In [12]:
a = len("Hello World")
print(a)

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [11]:
x = "Python Programming"[:3]
print(x)

Pyt

# 4. Write a code to convert the string "hello" to uppercase.

In [10]:
a = "hello".upper()
print(a)

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [9]:
a = "I like apple".replace("apple", "orange")
print(a)

I like orange

# 6. Write a code to create a list with numbers 1 to 5 and print it.

In [1]:
x = [1,2,3,4,5]
print(x)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1,2,3,4].

In [2]:
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [3]:
a = [1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [4]:
x = ['a', 'b', 'c', 'd']
print(x[1])

b

# 10. Write a code to reverse the list. [10,20,30,40,50]

In [5]:
a = [10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

# 11. Write a code to create tuple with the elements 100,200,300 and print it.

In [6]:
mayus_tuple = (100, 200, 300)
print(mayus_tuple)

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [8]:
x = ('red', 'green', 'blue', 'yellow')
print(x[-2])

blue

# 13. Write a code to find the minimum number in the tuple (10,20,5,15).

In [10]:
a = (10,20,5,15)
print(min(a))

5

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [11]:
b = ('dog', 'cat', 'rabbit')
print(b.index('cat'))

1

# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [12]:
x = ('mango', 'apple', 'watermelon')
print('kiwi' in x)

False

# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [13]:
mayu = {'a', 'b', 'c'}
print(mayu)

{'c', 'a', 'b'}

# 17.  Write a code to clear all elements from set {1,2,3,4,5}.

In [15]:
a = {1,2,3,4,5}
a.clear()
print(a)

set()

# 18.  Write a code to remove the elements 4 from the set {1,2,3,4}.

In [16]:
x = {1,2,3,4}
x.remove(4)
print(x)

{1, 2, 3}

# 19.  Write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [18]:
a = {1,2,3}
b = {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

# 20.  Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [19]:
x = {1,2,3}
y = {2,3,4}
print(x.intersection(y))

{2, 3}

# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [20]:
person = {"name": "Mayuresh", "age": 22, "city": "Pune"}
print(person)

{'name': 'Mayuresh', 'age': 22, 'city': 'Pune'}

# 22.  Write a code to add a new key-value pair "country":"USA" to the dictionary ('name':'John', 'age':'25').

In [22]:
a = {'name': 'John', 'age': '25'}
a['country'] = 'USA'
print(a)

{'name': 'John', 'age': '25', 'country': 'USA'}

# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice', 'age': '30'}.

In [24]:
x = {'name':'Alice', 'age': '30'}
print(x['name'])

Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': '22', 'city':'New York'}.

In [25]:
a = {'name': 'Bob', 'age': '22', 'city':'New York'}
del a['age']
print(a)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in thr dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
x =  {'name': 'Alice', 'city': 'Paris'}
print('city' in x)

True

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
a = [1,2,3]
b = (4,5,6)
c = {'a': 1, 'b': 2}
print(a, b, c)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

# 27. Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order, and print the result.

In [1]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[15, 34, 49, 72, 89]

# 28. Write a code to create a list with strings and print the element at third index.

In [31]:
x = ['apple', 'mango', 'banana', 'cherry', 'ornge']
print(x[2])

banana

# 29. Write a code to combine two dictionaries into one and print the result.

In [33]:
a = {'a': 1, 'b': 2}
b = {'c': 3, 'd': 4}
combined = {**a, **b}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

# 30. Write a code to convert a list of strings into set.

In [34]:
x = ['lion', 'tiger', 'peocock', 'dog', 'cat']
x_set = set(x)
print(x_set)

{'tiger', 'cat', 'lion', 'dog', 'peocock'}